@import 'tailwindcss';

@config '../../tailwind.config.js';

@theme {
  --color-sail-50: #f0f8ff;
  --color-sail-100: #dfefff;
  --color-sail-200: #b7e0ff;
  --color-sail-300: #79c8ff;
  --color-sail-400: #32adfe;
  --color-sail-500: #0793f0;
  --color-sail-600: #0074cd;
  --color-sail-700: #005ca6;
  --color-sail-800: #034e89;
  --color-sail-900: #094271;
  --color-sail-950: #06294b;
}

@layer base{
    body {
        @apply bg-sail-50 dark:bg-sail-950
    }
    h1 {
        @apply text-4xl dark:text-white
    }
    button{
        @apply rounded-lg px-2 py-1
    }
    input[type=text],input[type=email],input[type=password], select {
        @apply w-full rounded-lg focus:border-blue-700 focus:ring-blue-700
    }
    em{
        @apply text-red-500
    }
}
